.content-container {
  max-width: 1200px;
  width: 92vw;
  min-height: 170px;
  margin: 0 auto;
}

.card-container {
    display: flex;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
