html {
  background-color: #16181A;
}

@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'), url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}

html {
    overflow-y: scroll;
  }
p,
html,
body,
div,
span,
h1,
h2,
header,
a {
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  text-shadow: 2px 2px #000;
}
