html {
  background-color: #16181a;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format("truetype");
}

html {
  overflow-y: scroll;
}

body {
    margin: 0;
}

html,
body,
div,
span,
h1,
h2,
header,
a {
  color: white;
}

p {
    color: #d8d4cf;
    line-height: 1.8;
    font-size: 18px;
}
