.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 92vw;
  min-height: 60vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 44px;
}

.copyright {
    height: 44px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color:#aaa;
  }
