.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 92vw;
  min-height: 170px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.site-title {
  font-size: 3rem;
  color: green;
  font-weight: 700;
  margin: 3rem 0;
}
