.nav {
  position: absolute;
  top: 0;
  height: 54px;
  left: 0;
  width: 100%;
  z-index: 90;
  background-color: transparent;
}

.nav img {
    max-height: 90px;
    margin-top:10px;
}

.nav-logo {
  flex: 0 1 300px;
  margin: 0;
  font-weight: bolder;
  font-size: 24px;
}

.nav-content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  text-shadow: 2px 2px #000;
}

.nav-link {
  text-align: right;
  font-size: 17px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-list-item {
  margin-left: 10px;
  display: block;
}

.nav-list-item-link {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-weight: bolder;
  text-shadow: 2px 2px #000;
  transition: color 0.2s;
}

.nav-list-item-link:hover {
    color: orangered;
}
